<a href="{{ path('cmf_routing_object', {_route_object: item.object}) }}" class="text-center skill-item-container skill-item-container-large p-3 my-3" style="height: auto;">
	<h3>{{ item.object.get('title') }}</h3>
	<div class="d-flex">
		<div class="p-3 mt-3 skill-img">
			<img src="{{ item.object.get('image').file.url }}" width="auto" height="80" alt="{{ item.object.get('title') }}">
		</div>
		<div class="p-3 mt-3">{{ item.object.get('shortDescription') }}</div>
	</div>
</a>
